{% extends "base.html" %}
{% block content %}

<h2>{{ 'Edit Job' if edit else 'Post a Job' }}</h2>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.title.label }} {{ form.title(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.company.label }} {{ form.company(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.location.label }} {{ form.location(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.job_type.label }} {{ form.job_type(class="form-select") }}
    </div>
    <div class="mb-3">
        {{ form.description.label }} {{ form.description(class="form-control", rows=5) }}
    </div>
    <button type="submit" class="btn btn-outline-primary btn-lg ms-3 ">{{ form.submit.label }}</button>
    <a href="{{ url_for('routes.dashboard') }}" class="btn btn-outline-success btn-lg ms-3">Back</a>
</form>
{% endblock %}
